/* Write your code here. */
.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
}
.profile {
  background-color: #cffafe;
  border-radius: 10px;
  text-align: center;
}
